*{
    box-sizing: border-box;
    
}

body{ 
    background: url("../img/bg-desktop-dark.jpg");
    background-repeat: no-repeat;
    background-color: #222;
}

.todo-wrapper{
    margin: 50px auto;
    max-width: 400px;
}

.header{
    display: flex;
    justify-content: space-between;
}

h1{
    color: white;
}

i{
    margin-top: 30px;
    color: white;
}

i.fa-moon{
    display: none;
}

ul{
    list-style: none;
    background-color: #333;
    border-bottom: 1px solid  #444;
    margin: 0;

}

ul.list{
    margin: 15px 0;
}

ul li{
    display:block;
    padding: 10px 0;
}

label{
    color: #aaa;
}

label span{
    text-decoration-line: line-through;
}

.nice{
    background-color: #333;
}

.foot{
    padding: 10px 0;
    color: #444;
}

.left{
    margin: 2px 25px 2px 12px;
}

.center{
    margin-left: 4px;
}

.right{
    margin-left: 35px;
}

span.all{
    color: blue;
}

.end{
    margin: 0 auto;
    text-align: center;
    color: #aaa;
}
ul.none{
    display: none;
}

@media screen and (max-width:500px){
    body{
        background-color: white;
    }

    i.fa-sun{
        display: none;
    }

    i.fa-moon{
        display: block;
    }

    span.center{
        display:none;
        color: #444;
    }

    .foot{
        display: flex;
        justify-content: space-between;
    }

    .right{
        padding:0 6px;
    }

    ul.none{
        display: flex;
        margin-top: 8px;
        justify-content: center;
    }

    ul.none li{
        padding: 10px;
        color: #444;
    }
    
    ul.none li span{
        color: blue;
    }
}
